<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>

    <body>

        <div   id="app" >

           <div><p >Items in Cart {{cart.length}} </p> </div>

           <product :premium="premium" @add-to-cart="updateCart"></product>
           
        </div>

        <script>
            Vue.component('product', {
                props: {
                    premium:{
                        type: Boolean,
                        required: true,
                    },
                },
                template: `
                    <div >
                        <p>Shipping Cost is {{shipping}} </p> 
                        <button @click="addToCart">Add To Cart</button> 
                        <div>
                            <h2>Reviews</h2>
                            <p v-if="!reviews.length">There are no reviews</p>
                            <ul>
                                <li v-for="review in reviews">
                                    <p>{{review.name}}</p>
                                    <p>Rating:{{review.rating}} </p>
                                    <p>{{review.review}}</p>
                                </li>
                            </ul>
                        </div>
                        <product-review @review-submitted="addReview"></product-review>
                    </div>
                `,

                data(){
                    return{
                        reviews: [],
                    }
                },

                methods:{
                    addToCart(){
                        this.$emit('add-to-cart', "dataa")
                    },
                    addReview(productReview){
                        this.reviews.push(productReview)
                    }
                },
                
                computed: {
                    shipping(){
                        if(this.premium){
                            return 'Free'
                        }
                        else {
                            return 2.99
                        }
                    }
                },

            })

            Vue.component('product-review', {
                template:`
                <form class="review-form" @submit.prevent="onSubmit" >
                <p v-if="errors.length">
                    <b>Please Correct The Following Error(s):</b>
                    <ul>
                        <li v-for="error in errors">{{error}}</li>
                    </ul>
                </p>

                
         <p>
            <label for="name">Name:</label>
            <input id="name" type="text" placeholder="name" v-model="name" >
         </p>

         <p>
            <label for="review">Review:</label>
            <textarea name="review" id="review" cols="30" rows="10" v-model="review" ></textarea>
         </p>

         <p>
            <label for="rating">Rating:</label>
            <select name="rating" id="rating" v-model.number="rating" >
                <option selected>5</option>
                <option value="">4</option>
                <option value="">3</option>
                <option value="">2</option>
                <option value="">1</option>
            </select>
         </p>

         <p>
            <input  type="submit" value="Submit" >
         </p>

         
         

    </form>
                `,

                

                data(){
                    return{
                        name: null,
                        review: null,
                        rating: null,
                        errors: []
                    }
                },
                methods:{
                    onSubmit(){
                        if(this.name && this.rating && this.rating){
                            let productReview ={
                            name: this.name,
                            review: this.review,
                            rating: this.rating
                        }
                        this.$emit('review-submitted', productReview)
                        this.name = null
                        this.review = null
                        this.rating = null
                        }
                        else{
                            if(!this.name) this.errors.push("Name Required.") 
                            if(!this.rating) this.errors.push("Rating Required.")
                            if(!this.review) this.errors.push("Review Required.")
                        }
                    },
                }
            })

            new Vue ({
                el: "#app",
                data: {
                    premium: true,
                    cart: [],
                },

                methods: {
                    updateCart(dataa){
                        this.cart.push(dataa)
                    }
                },
            })

        </script>

    </body>
</html>